[Unit]
Description=Hot Stand By Service Change to RabbitMQ
After=network.target

[Service]
Type=simple
ExecStart=/var/bash/rabbitFixHSB.sh
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target